extends layout

block content
	div.container
		form(method='POST', action='/login')
			div.medium-12.columns
				div.medium-12.columns
					h2 Log in
				div.medium-12.columns
					label Email
						input.validate(id='email', type='email', name='email')
				div.medium-12.columns
					label Password
						input.validate(id='password', type='password', name='password')
				div.medium-6.columns
					input.button(type='submit', value='Log in')