extends layout

block content
	div.row
		form.col.s6.offset-s3
			div.row
				div.input-field.col.s12
					input.validate(id='email', type='email')
					label(for='email') Email
				div.input-field.col.s12
					input.validate(id='password', type='password')
					label(for='password') Password
				div.input-field.col.s12
					input.btn(type='submit')