header
	div.header-container
		h1.logo
			a(href='/') TEST
		ul.desktop-nav
			li
				a(href='/about') About
			if !currentUser
				li
					a(href="/register") Sign up
				li
					a(href="/login") Log in
			else
				li
					a(href='/rooms') Rooms
				li
					a(href='/logout') Log Out
				