nav
	div.nav-wrapper.container
		a.brand-logo(href="/") DadChat
		ul.right.hide-on-med-and-down(id='nav-mobile')
			li
				a(href="/register") Sign up
			li
				a(href="/login") Log in
			li
				a(href='/about') About