extends layout

block content
	div.container
		form(method='POST', action='/register')
			div.medium-12.columns
				div.medium-12.columns
					h2 Register
				div.medium-6.columns
					label First Name
						input.validate(id='first-name', type='text', name='firstName')
				div.medium-6.columns
					label Last Name
						input.validate(id='last-name', type='text', name='lastName')

				div.medium-12.columns
					label Email
						input.validate(id='email', type='email', name='email')
				div.medium-12.columns
					label Password
						input.validate(id='password', type='password', name='password')
				div.medium-12.columns
					label Password Confirmation
						input.validate(id='password-confirmation', type='password', name='passwordConfirmation')
				div.medium-12.columns
					input.button(type='submit', value='Register')