.top-bar {
	background: #333;
	margin-bottom: 25px;
}

form { 
	max-width: 480px;
	margin: 0 auto;
}

.button {
	padding: 15px 30px;
	float: right;
}

@media screen and (max-width: 480px) {
	.button {
		margin-top: 15px;
		width: 100%;
	}
}